<form method="post" action="">
    {% csrf_token %}
    <input type="hidden" name="csrfmiddlewaretoken" value="99Vhmo5XU3Lc5CtAeIc1m7K9HvlS2i0v8tN0odN4kijrMZotbDP7aCpAYTSj33QR">
    <div class="row">
        <div class="col-8 col-12-medium">
            <div class="row gtr-50">
                <div class="col-6 col-12-small">
                    <input name="name" placeholder="Name" type="text" />
                </div>
                <div class="col-6 col-12-small">
                    <input name="email" placeholder="Email" type="text" />
                </div>
                <div class="col-12">
                    <textarea name="message" placeholder="Message"></textarea>
                </div>
            </div>
        </div>
        <div class="col-4 col-12-medium">
            <p>Select any additional details you'd like information about:</p>
            <input type="checkbox" name="info_sliding_scale" id="sliding_scale">Sliding scale rates
            <br/>
            <input type="checkbox" name="info_multiple_students" id="multiple_students">Multiple students
            <br/>
            <input type="checkbox" name="info_virtual_services" id="virtual_services"/>Virtual services
        </div>
        <div class="col-12 col-12-medium contact-submit-button">
            <input type="submit" class="button" value="Send message"/>
        </div>
    </div>
</form>