{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Math ATX</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'mathatx/style.css' %}" />
		
	</head>
	<body class="homepage is-preload">

		<!-- USE THIS -->

		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">
					<div class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="index.html">Math ATX</a></h1>
							<p>Education that means something.</p>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a class="icon solid fa-home" href="#about-me"><span>About me</span></a></li>
									<li>
										<a href="#reviews" class="icon fa-chart-bar"><span>Reviews</span></a>
										<!-- <ul>
											<li><a href="#">Lorem ipsum dolor</a></li>
											<li><a href="#">Magna phasellus</a></li>
											<li><a href="#">Etiam dolore nisl</a></li>
											<li>
												<a href="#">Phasellus consequat</a>
												<ul>
													<li><a href="#">Magna phasellus</a></li>
													<li><a href="#">Etiam dolore nisl</a></li>
													<li><a href="#">Phasellus consequat</a></li>
												</ul>
											</li>
											<li><a href="#">Veroeros feugiat</a></li>
										</ul> -->
									</li>
									<li><a class="icon solid fa-cog" href="#services"><span>Services</span></a></li>
									<li><a class="icon solid fa-retweet" href="#philosophy"><span>Philosophy</span></a></li>
									<li><a class="icon solid fa-sitemap" href="#contact"><span>Contact</span></a></li>
								</ul>
							</nav>

					</div>
				</section>

			<!-- About Me -->
				<section id="about-me">
					<div class="container">
						<header>
							<h2>Behold! This is <strong>MathATX</strong>!</h2>
						</header>
						<div class="row aln-center">

							{% for about in about_me_list %}
							<div class="col-4 col-6-medium col-12-small">

								<!-- Feature -->
									<section>
										<a href="#" class="image featured"><img src="{{ about.image.url }}" alt="" /></a>
										<header>
											<h3>{{ about.title }}</h3>
										</header>
										<p>{{ about.description }}</p>
									</section>

							</div>
							{% endfor %}
							
							<div class="col-12">
								<ul class="actions">
									<li><a href="#" class="button icon solid fa-file">Tell Me More</a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>

			<!-- Banner -->
			 {% if reviews.count > 0 %}
			 {% with review=reviews|random %}
				<section id="reviews" class="banner">
					<div class="container">
						<p>
							{% with ' '|center:review.stars as range %}
							{% for _ in range %}
							★
							{% endfor %}
							{% endwith %}
						</p>
						<br/>
						<p>{{ review.quote }}</p>
						<br/>
						<p class="review-source">- {{ review.name }}</p>
					</div>
				</section>
			{% endwith %}
			{% endif %}

			<!-- Main -->
				<section id="main">
					<div class="container">

							<div class="col-12">

								<!-- Highlight -->
									<section class="box highlight">
										<ul class="special">
											<li><a href="#" class="icon solid fa-calculator"><span class="label">Recreational math</span></a></li>
											<li><a href="#" class="icon solid fa-square-root-alt"><span class="label">Math</span></a></li>
											<li><a href="#" class="icon solid fa-infinity"><span class="label">Homeschool teaching</span></a></li>
											<li><a href="#" class="icon solid fa-flask"><span class="label">STEM</span></a></li>
											<li><a href="#" class="icon solid fa-scroll"><span class="label">Test prep</span></a></li>
											<li><a href="#" class="icon solid fa-laptop"><span class="label">Executive functioning</span></a></li>
										</ul>
										<header>
											<h2>A random assortment of icons in circles</h2>
											<h5>And some text that attempts to explain their significance</h5>
										</header>
										<p>
											Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper mod quis eget mi. Etiam eu 
											ante risus. Aliquam erat volutpat. Aliquam luctus et mattis lectus amet pulvinar. Nam nec turpis consequat.
										</p>
									</section>

							</div>


						<!-- Introduction -->

						{% for service in services %}
						<section id="services" class="main intro">
							<div class="spotlight">
								<div class="content">
									<header class="major">
										<h2>{{ service.name }}</h2>
									</header>
									<p>{{ service.description }}</p>
									<ul class="actions">
										<li><a href="generic.html" class="button">Learn More</a></li>
									</ul>
								</div>
								<span class="image"><img src="{{ service.image.url }}" alt="" /></span>
							</div>
						</section>
						{% endfor %}


						<!-- Second Section -->
						<section id="philosophy" class="main special">
							<header class="major">
								<h2>Philosophy</h2>
								<h4>Do we need these?</h4>
							</header>
							<ul class="statistics">
								<li class="style1">
									<span class="icon solid fa-code-branch"></span>
									<strong>5,120</strong> Etiam
								</li>
								<li class="style2">
									<span class="icon fa-folder-open"></span>
									<strong>8,192</strong> Magna
								</li>
								<li class="style3">
									<span class="icon solid fa-signal"></span>
									<strong>2,048</strong> Tempus
								</li>
								<li class="style4">
									<span class="icon solid fa-laptop"></span>
									<strong>4,096</strong> Aliquam
								</li>
								<li class="style5">
									<span class="icon fa-gem"></span>
									<strong>1,024</strong> Nullam
								</li>
							</ul>
							<p class="content">I think this could be a good place to detail more about Alicia and philosophy.</p>
							<footer class="major">
								<ul class="actions special">
									<li><a href="generic.html" class="button">Learn More</a></li>
								</ul>
							</footer>
						</section>

						</div>
					</div>
				</section>

			<!-- Footer -->
				<section id="contact" class="footer">
					<div class="container">
						<header>
							<h2>Questions or comments? <strong>Get in touch:</strong></h2>
						</header>
						<div class="row">
								<section>
									<form method="post" action="#">
										<div class="row">
											<div class="col-8 col-12-medium">
												<div class="row gtr-50">
													<div class="col-6 col-12-small">
														<input name="name" placeholder="Name" type="text" />
													</div>
													<div class="col-6 col-12-small">
														<input name="email" placeholder="Email" type="text" />
													</div>
													<div class="col-12">
														<textarea name="message" placeholder="Message"></textarea>
													</div>
												</div>
											</div>
											<div class="col-4 col-12-medium">
												<p>Select any additional details you'd like information about:</p>
												<input type="checkbox" name="sliding_scale" id="sliding_scale">Sliding scale rates
												<br/>
												<input type="checkbox" name="multiple_students" id="multiple_students">Multiple students
												<br/>
												<input type="checkbox" name="virtual_services" id="virtual_services"/>Virtual services
											</div>
											<div class="col-12 col-12-medium contact-submit-button">
												<a href="#" class="button">Send Message</a>
											</div>
										</div>
									</form>
								</section>
							<!-- <div class="col-6 col-12-medium">
								<section>
									<p>Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat Phaselamet
									mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique. Curabitur
									leo nibh, rutrum eu malesuada.</p>
									<div class="row">
										<div class="col-6 col-12-small">
											<ul class="icons">
												<li class="icon solid fa-home">
													1234 Somewhere Road<br />
													Nashville, TN 00000<br />
													USA
												</li>
												<li class="icon solid fa-phone">
													(000) 000-0000
												</li>
												<li class="icon solid fa-envelope">
													<a href="#">info@untitled.tld</a>
												</li>
											</ul>
										</div>
										<div class="col-6 col-12-small">
											<ul class="icons">
												<li class="icon brands fa-twitter">
													<a href="#">@untitled</a>
												</li>
												<li class="icon brands fa-instagram">
													<a href="#">instagram.com/untitled</a>
												</li>
												<li class="icon brands fa-facebook-f">
													<a href="#">facebook.com/untitled</a>
												</li>
											</ul>
										</div>
									</div>
								</section>
							</div> -->
					</div>
					<div id="copyright" class="container">
						<ul class="links">
							<li>&copy; Alicia Cozza 2024</li><li>Site design: <a href="https://jacoblehenbauer.com">Jacob Lehenbauer</a></li>
						</ul>
					</div>
				</section>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>